.allidolselect-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
}

.allidolselect-card-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 100%;
  justify-items: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.allidolselect-btn {
  cursor: pointer;
}

.allidolselect-addbtn-container {
  position: absolute;
  bottom: -5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.allidolselect-addbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 255px;
  height: 48px;
  border-radius: 24px;
  background: linear-gradient(90deg, #f77063 0%, #fe5790 100%);
  color: white;
  text-align: center;
}

.allidolselect-error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}
