.allidol-conatiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.allidol-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.allidol-addBtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
