.allidol-conatiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 70%;
}

.allidol-title {
  display: flex;
  height: 10%;
}

.allidol-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

/* .allidol-addBtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
