/* 컨테이너 및 헤더 */
.chart-container {
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  /* text-align: left; */
  margin-bottom: 20px;
}

.chart-vote-button {
  display: flex;
  align-items: center;
  width: 128px;
  height: 32px;
  background: linear-gradient(90deg, #f86f65, #fe5493);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.chart-icon {
  margin-right: 8px;
  width: 18px;
  height: 16px;
}

/* Tab */
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.tabs button {
  width: 600px;
  background: none;
  border: none;
  padding: 10px 20px;
  color: #888;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition:
    color 0.3s,
    border-bottom 0.3s;
}

.tabs .active-tab {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 12px;
  border-bottom: 1px solid #ffffff;
}

/* 차트 */
.idol-list {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0;
  list-style: none;
}

.idol-list::-webkit-scrollbar {
  display: none;
}

/* 더 보기 */
.load-more-button {
  background-color: #251f20;
  border: 1px;
  border-style: solid;
  color: #ffffff;
  border-color: #f1eef9cc;
  padding: 8px 143px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.load-more-button:hover {
  background: linear-gradient(90deg, #f86f65, #fe5493);
  border: none;
}
