.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #181d26;
  color: #ffffff;
  max-width: 525px;
  max-height: 693px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.modal-header h3 {
  font-size: 18px;
  color: #ffffff;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-list {
  display: flex;
  flex-direction: row;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.modal-list li {
  width: 470px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 8px;
}

.modal-list::-webkit-scrollbar {
  display: none;
}

.modal-list li:last-child {
  border-bottom: none;
}

.idol-radio {
  accent-color: #ff5f6d;
  margin: 0 0 0 0;
  width: 16px;
  height: 16px;
  transform: scale(1.2);
}

.vote-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #f86f65, #fe5493);
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.vote-button:hover {
  background: linear-gradient(90deg, #f86f65, #fe5493);
}

.credit-info {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.credit-cost {
  color: #f96d69;
  font-weight: bold;
}
